@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap");
.about {
  background-color: #c98a40;
  position: relative;
  height: 840px;
}
.layer {
  background-color: #fff;
  position: absolute;
  right: 0;
  width: 38%;
  height: 100%;
}
.aboutTitle h2 {
  font-family: Sen;
  font-size: 144px;
  font-weight: 800;
  line-height: 138.24px;
  text-align: left;
  color: #fff;
}
.aboutTitle p {
  width: 70%;
}

@media only screen and (max-width: 1200px) {
  .testimonials h2 {
    font-size: 120px;
  }
}

@media only screen and (max-width: 992px) {
  .layer {
    display: none;
  }
  .about {
    height: 1300px;
  }

  .aboutTitle h2 {
    font-size: 80px;
    text-align: center;
  }
  .aboutBody {
    text-align: center;
  }
  .aboutTitle p {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {

  .about {
    height: 1150px;
  }


}
